{{define "title"}}Dashboard Example{{end}}

{{define "body"}}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Notifications</h1>
        </div>

        <div id="div1"></div>



        <script>
            $(document).ready(function () {

                $('#example').DataTable();

                if (navigator.geolocation) { // Supported

                    // To add PositionOptions

                    navigator.geolocation.getCurrentPosition(getPosition);
                } else { // Not supported
                    alert("Oops! This browser does not support HTML Geolocation.");
                }
            });

            function getPosition(position) {

                const latitude = position.coords.latitude;
                const longitude = position.coords.longitude;

                $.ajax({
                    url: "/notifications",
                    data: {latitude: latitude, longitude: longitude}, //If the request needs any data
                    success: function(result){

                        var table = $('<table class="table table-striped">');
                        var tblHeader = "<tr>";
                        for (var k in result[0]) tblHeader += "<th>" + k + "</th>";
                        tblHeader += "</tr>";
                        $(tblHeader).appendTo(table);
                        $.each(result, function (index, value) {
                            var TableRow = "<tr>";
                            $.each(value, function (key, val) {
                                TableRow += "<td>" + val + "</td>";
                            });
                            TableRow += "</tr>";
                            $(table).append(TableRow);
                        });

                        $(table).appendTo("#div1");
                    }

                }).done(function (data) {
                    // Do whatever with returned data
                });
            }
        </script>
    </main>
{{end}}

