{{define "title"}}Dashboard Example{{end}}

{{define "body"}}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Notifications</h1>
        </div>

        <div class="slidecontainer">
            <label for="myRange">Select Radius (Km)</label><br>
            <input class="slider" type="range" min="1" max="100" value="50" id="myRange"> Max: 100
            <p>Selected value: <span id="demo"></span></p>
        </div><br>

        <table id="example" class="table table-striped">
        </table>

        <script>

            var slider = document.getElementById("myRange");
            var output = document.getElementById("demo");
            output.innerHTML = slider.value; // Display the default slider value

            $(document).ready(function () {

                if (navigator.geolocation) { // Supported
                    navigator.geolocation.getCurrentPosition(getPosition);
                } else { // Not supported
                    alert("Oops! This browser does not support HTML Geolocation.");
                }
            });

            // Update the current slider value (each time you drag the slider handle)
            slider.onchange = function() {
                output.innerHTML = this.value;
                if (navigator.geolocation) { // Supported
                    navigator.geolocation.getCurrentPosition(getPosition);
                } else { // Not supported
                    alert("Oops! This browser does not support HTML Geolocation.");
                }
            }

            function getPosition(position) {

                const latitude = position.coords.latitude;
                const longitude = position.coords.longitude;

                $.ajax({

                    url: "/notifications",
                    data: {latitude: latitude, longitude: longitude, radius: slider.value}, //If the request needs any data

                    success: function (result) {

                        if (result != null) {

                            var table = $('#example');

                            $(table).empty();
                            var tblHeader = "<thead><tr>";
                            var i = 0;
                            for (var k in result[0]) {
                                if (i < 2) {
                                    tblHeader += "<th>" + k + "</th>";
                                }
                                i += 1;
                            }
                            tblHeader += "</tr></thead><tbody>";
                            $(tblHeader).appendTo(table);
                            $.each(result, function (index, value) {
                                var TableRow = "<tr>";
                                i = 0;
                                $.each(value, function (key, val) {
                                    if (i < 2) {
                                        TableRow += "<td>" + val + "</td>";
                                    }
                                    i += 1;
                                });
                                TableRow += "</tr></tbody>";
                                $(table).append(TableRow);
                            });

                            table.DataTable();
                        }
                    }
                }).done(function (data) {
            });
            }
        </script>
    </main>
{{end}}

