{{ template "header.html" .}}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Notifications</h1>
    </div>

    <div class="slidecontainer">
        <label for="myRange">Select Radius (Km) - Max: 100</label><br>
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
        <p>Selected value: <span id="demo"></span></p>
    </div>
    <br>

    <div id="table">

    </div>

    <script>
        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value; // Display the default slider value

        $(document).ready(function () {

            if (navigator.geolocation) { // Supported
                navigator.geolocation.getCurrentPosition(getPositionNotifications);
            } else { // Not supported
                alert("Oops! This browser does not support HTML Geolocation.");
            }
        });

        // Update the current slider value (each time you drag the slider handle)
        slider.onchange = function () {
            output.innerHTML = this.value;
            if (navigator.geolocation) { // Supported
                navigator.geolocation.getCurrentPosition(getPositionNotifications);
            } else { // Not supported
                alert("Oops! This browser does not support HTML Geolocation.");
            }
        }

        function getPositionNotifications(position) {

            const latitude = position.coords.latitude;
            const longitude = position.coords.longitude;

            $.ajax({
                type: "POST",
                url: "/notifications",
                data: JSON.stringify(
                    {
                        latitude: latitude,
                        longitude: longitude,
                        radius: slider.value
                    }
                ),
                success: function (result) {
                    if (result != null) {
                        var table = $('#table');
                        table.empty()
                        var tblHeader = "<table id=\"example\" class=\"table table-striped\"><thead><tr>";
                        var i = 0;
                        for (var k in result[0]) {
                            if (i < 2) {
                                tblHeader += "<th>" + k + "</th>";
                            }
                            i += 1;
                        }
                        tblHeader += "</tr></thead><tbody>";
                        $.each(result, function (index, value) {
                            var TableRow = "<tr>";
                            i = 0;
                            $.each(value, function (key, val) {
                                if (i < 2) {
                                    TableRow += "<td>" + val + "</td>";
                                }
                                i += 1;
                            });
                            tblHeader += TableRow;
                        });
                        $(tblHeader).appendTo(table);
                        $("#example").DataTable();
                    }
                },
            })
        }
    </script>
</main>

{{ template "footer.html" .}}
