{{ template "header.html" .}}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Publish</h1>
    </div>

    <div class="row">

        <div class="col-md-12 order-md-1">

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="payload">Message</label>
                    <input type="text" class="form-control" id="payload" placeholder="Message" value="" required>
                    <div class="invalid-feedback">
                        Valid Message is required.
                    </div>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="topic">Topic</label>
                    <select class="custom-select d-block w-100" id="topic" required>
                        {{range .results}}
                            <option value="{{.}}">{{.}}</option>
                        {{end}}
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid Topic.
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6 mb-3">
                    <label for="radius">Radius (Km)</label>
                    <input type="number" class="form-control" id="radius" placeholder="Radius" value="" required>
                    <div class="invalid-feedback">
                        Valid radius is required.
                    </div>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="lifeTime">Life Time (Minutes)</label>
                    <input type="number" class="form-control" id="lifeTime" placeholder="Life Time" value="" required>
                    <div class="invalid-feedback">
                        Valid Life Time is required.
                    </div>
                </div>

            </div>

            <input type="text" class="form-control" id="email" hidden value="{{.email}}">

            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" onclick="getLocation()" type="submit">Send Message
            </button>

        </div>
    </div>
</main>

<script>
    function getLocation() {
        // Check whether browser supports Geolocation API or not
        if (navigator.geolocation) { // Supported
            navigator.geolocation.getCurrentPosition(getPositionExactlyOnce);
        } else { // Not supported
            alert("Oops! This browser does not support HTML Geolocation.");
        }
    }

    $(document).keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            getLocation();
        }
    })
</script>

{{ template "footer.html" .}}