{{ template "header.html" .}}

<main role="main" class="col-lg-12 px-md-4">

    <br>
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">

                    <header class="card-header">
                        <a href="/" class="float-right btn btn-outline-primary mt-1">Log in</a>
                        <h4 class="card-title mt-2">Sign up</h4>
                    </header>

                    <article class="card-body">

                        <form id="form" method="POST" action="/registration">

                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" placeholder="Email" name="email" id="email"
                                       required>
                            </div>

                            <div class="form-group">
                                <label for="password">Create password</label>
                                <input class="form-control" type="password" name="password" id="password" minlength="6"
                                       placeholder="Password" required>
                            </div>

                            <div class="form-group">
                                <label for="password">Confirm password</label>
                                <input class="form-control" type="password" name="confirmed" id="confirmed-password"
                                       minlength="6" placeholder="Confirm Password" required oninput="check(this)">
                            </div>

                            <div class="form-group">
                                <button class="btn btn-lg btn-primary btn-block">Sign Up
                                </button>
                            </div>

                        </form>

                    </article>

                    <div class="border-top card-body text-center">Have an account? <a href="/">Log In</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</main>

<script>
    function check(input) {
        if (input.value !== $('#password').val()) {
            input.setCustomValidity('Password Must be Matching.');
        } else {
            input.setCustomValidity('');
        }
    }
</script>

{{ template "footer.html" .}}