<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Topic Subscription</h1>
    </div>

    <table id="example" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Topic Name</th>
            <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        {{range .results}}
            <tr>
                <td>{{.Name}}</td>
                <td><label class="switch">
                        {{if eq .Flag true}}
                            <input type="checkbox" onclick="submitSubscription({{.Name}})" checked>
                            <span class="slide round"></span>
                        {{else}}
                            <input type="checkbox" onclick="submitSubscription({{.Name}})">
                            <span class="slide round"></span>
                        {{end}}
                    </label>
                </td>
            </tr>
        {{end}}
        </tbody>
    </table>

    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>

    <script>
        function submitSubscription(topic, flag) {

            $.ajax({
                url: "/editSubscription",
                data: {topic: topic}, //If the request needs any data
            })
        }
    </script>
</main>

<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "footer.html" .}}

