{{define "title"}}Dashboard Example{{end}}

{{define "body"}}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Topic Subscription</h1>
        </div>

        {{/*<h1>{{.PageTitle}}</h1>
    <ul>
        {{range .Todos}}
            {{if .Done}}
                <li class="done">{{.Title}}</li>
            {{else}}
                <li>{{.Title}}</li>
            {{end}}
        {{end}}
    </ul>*/}}


        <table id="example" class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Topic Name</th>
                <th scope="col">Handle</th>
            </tr>
            </thead>
            <tbody>
            {{range .Data}}
                <tr>
                    <td>{{.}}</td>
                    <td><label class="switch">
                            <input type="checkbox" value="Topic 1" onclick="submitSubscription('Topic 1')">
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
            {{end}}
            </tbody>
        </table>

        <script>
            $(document).ready(function () {
                $('#example').DataTable();
            });
        </script>

        <script>
            function submitSubscription(topic) {

                //window.location.href = "/subscribe?topic=" + topic;
                //window.history.pushState('page2', 'Title', "/subscribe?topic=" + topic);

                $.ajax({
                    url: "/subscribe",
                    data: {topic: topic} //If the request needs any data
                }).done(function (data) {
                    // Do whatever with returned data
                });
            }
        </script>

    </main>
{{end}}

